<html>
  <head>
    <title>Assignments</title>
  </head>
  <body>
    <h2>Add Student</h2>
    <h4>Please enter the name of the new student.</h4>
    <form action="/save_student">
      <input type="text" placeholder="New student" name="name">
      <input type="submit">
    </form>
  </body>
<html>