<h1>Students</h1>
<ul class="five">
  <li><a href="/students/add_student">Add Student</a></li>
  <li><a href="/students/list_student">List Student</a></li>
  <li><a href="/students/delete_student">Delete Student</a></li>
  <li><a href="/students/update_student">Update Student</a></li>
</ul>