<!DOCTYPE html>
<html>
<head>
  <title>Assignments</title>
</head>
<body>
  <h4>If you would like to update the table, please select the student.</h4> 
  <form action="/students/change_student">
    <table>
      <tr>
        <th>Students</th>
      </tr>
      <tr>
    <% Student.all.each do |student| %>
        <td><input type="radio" name="id" value="<%= student.id %>"><%= student.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
<body>
</html>