<h2>
  Add Assignment
</h2>
<h4>Please enter the name of the new assignment.</h4>
<form action="/save_assignment">
  <p>Date</p>
  <p><input type="text" placeholder="Date" name="date"></p>
  <p>Assignment name</p>
  <p><input type="text" placeholder="New assignment" name="name"></p>
  <p>Description</p>
  <p><input type="text" placeholder="Description" name="description"></p>
  <p>Github Link</p>
  <p><input type="text" placeholder="Github Link" name="github"></p>
  <p>Blog Link</p>
  <p><input type="text" value="none" placeholder="Blog Link" name="blog"></p>
  <input type="submit">
</form>