<!DOCTYPE html>
<html>
<head>
  <title>Assignment</title>
</head>
<body>
  <h2>Assignment Added</h2>
  <h4>Assignment has been successfully added to the database.</h4>
  <a href="/assignments/add_assignment">Add another assignment</a>
</body>
</html>