<h1>Assignments</h1>
<ul class="five">
  <li><a href="/assignments/add_assignment">Add Assignment</a></li>
  <li><a href="/assignments/list_assignments">List Assignments</a></li>
  <li><a href="/assignments/delete_assignment">Delete Assignment</a></li>
  <li><a href="/assignments/update_assignment">Update Assignment</a></li>
</ul>