<!DOCTYPE html>
<html>
<head>
  <title>Assignments</title>
</head>
<body>
  <h4>If you would like to update the table, please select the assignment.</h4> 
  <form action="/assignments/change_assignment">
    <table>
      <tr>
        <th>Assignments</th>
      </tr>
      <tr>
    <% Assignment.all.each do |assignment| %>
        <td><input type="radio" name="id" value="<%= assignment.id %>"><%= assignment.date%></td>
        <td><%= assignment.name%></td>
      </tr>
    <% end %>
  </table>
    <p><input type="submit"></p>
  </form> 
<body>
</html>