<h1>Assignments</h1>
<ul class="five">
  <li><a href="/assignments/sub_menu_assignments">Assignments</a></li>
  <li><a href="/github_links/sub_menu_github_links">Github Links</a></li>
  <li><a href="/blog_links/sub_menu_blog_links">Blog Links</a></li>
  <li><a href="/students/sub_menu_students">Students</a></li>
  <li><a href="/student_assignments/sub_menu_student_assignments">Student Assignments</a></li>
</ul>