<h1>Assignments</h1>
<ul class="five">
  <li><a href="/assignments/sub_menu_assignments">Assignments</a></li>
  <li><a href="/students/sub_menu_students">Students</a></li>
  <li><a href="/student_assignments/sub_menu_student_assignments">Student Assignments</a></li>
</ul>